<a href="https://colab.research.google.com/github/ruwei00/TKU-AI-712571159/blob/main/0515.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
for i in range(9):
  print("Happy")

Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy

In [8]:
for i in range(1,10,2):
  print(i,end=",")

1,3,5,7,9,

In [26]:
jsum=0
for j in range(101):
  jsum += j
print(f'1+2+3+4+..+100={jsum}')

1+2+3+4+..+100=5050

In [14]:
n=int(input())
total=0
for i in range(1,n+1):
  total += i
print("1到{}的總和為{}".format(n,total))

3
1到3的總和為6

In [22]:
n= int(input())
total=0
for i in range (1,n+1):
  if i%2 != 0:
    total +=i
print("從1到{}的所有奇數的和為{}".format(n,total))

100
從1到100的所有奇數的和為2500